<h1 class="is-size-2 has-text-centered">Book Adventures</h1>
<div class="columns is-flex-wrap-wrap">
  {{#if loggedIn}}
  {{#each books as |book|}}
  {{log book}}
    <div class="column is-6-tablet is-4-desktop">
      <div class="card m-6">
        <header class="card-header">
          <p class="card-header-title">
            {{book.title}}
            by
            {{book.author}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{book.description}}
          </div>
        </div>
        <footer class="card-footer">
          {{! <p class="card-footer-item">
            <!--Need to hide this if they're not signed in-->
            <span id="save"><a href="#">Save to Favorites</a></span>
          </p> }}
        </footer>
      </div>
    </div>
  {{/each}}
  {{else}}
  <div> You need to be logged in!</div>
  {{/if}}
</div>